
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<section id="profile-wrapper">
    <h1>Profile</h1>

    <ul id="profile-list">
        <li><a href="{{path('edit_password')}}">Edit Password</a></li>
        <li><a>Remove Profile</a></li>
        <li><a></a></li>
    </ul>
</section>
{% endblock %}