
{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<menu id="profile-wrapper">
    <h1>Profile</h1>

    <hr />
    <h2>Account Administration :</h2>
    {% if app.user.password is not null %}
    <li><a href="{{path('edit_password')}}">Edit Password</a></li>
    {% endif %}
    <li><button id="btn-popup">Delete Account</button></li>
    <li><a></a></li>

    <div id="popup-wrapper">
        <div class="popup-body"></div>
    </div>
</menu>
{% endblock %}