
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
.env
.env.dev
.env.test
/docker
/logs

###> fail2ban ###
/fail2ban/data/db
/fail2ban/etc/caddy/banned-ips
/etc/caddy/banned-ips
###< fail2ban ###