{% extends 'base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %}

<div id="users-list-wrapper">
    <section id="users-list-section">
        <hgroup id="users-list-header">
            <h2>Users List</h2>
        </hgroup>
        <ul id="users-list-body">
            {% for user in users %}
            <li class="users-list_item">
                {{user.email}}
                <button id="admin-btn-popup" data-userId="{{user.id}}">Change Role</button>
            </li>
            {% endfor %}
        </ul>
        <div id="popup-wrapper">
            <div class="popup-body"></div>
        </div>
    </section>
</div>
{% endblock %}